<div class="main-wrap">
  <div class="inner-wrap">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input formControlName="email" type="email" matInput placeholder="Email">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input formControlName="password" type="password" matInput placeholder="password">
    </mat-form-field>

    <button [disabled]="loginForm.invalid" class="btn btn-primary btn-sm">
      Login
    </button>
    </form>
  </div>
</div>
