<div class="main-wrap">
  <h1 class="header-text">Guest Management Unit</h1>
  <hr>
  <mat-tab-group>
    <mat-tab label="Save Guest">
      <app-save-guest></app-save-guest>
    </mat-tab>
    <mat-tab label="Update Guest">
      <app-update-guest></app-update-guest>
    </mat-tab>
    <mat-tab label="Delete Guest">
      <app-delete-guest></app-delete-guest>
    </mat-tab>
    <mat-tab label="Search Guest">
      <app-search-guest></app-search-guest>
    </mat-tab>
    <mat-tab label="Get All Guests">
      <app-get-all-guests></app-get-all-guests>
    </mat-tab>
  </mat-tab-group>

</div>
