<div class="main-wrap">

  <form [formGroup]="saveRegistrationForm" (ngSubmit)="saveData()">

    <div class="col-3">
      <mat-form-field class="example-full-width">
        <mat-label>Guest NIC</mat-label>
        <input formControlName="nic" matInput type="text"  placeholder="NIC">
      </mat-form-field>
    </div>

    <div class="col-3">
      <mat-form-field class="example-full-width">
        <mat-label>Guest Name</mat-label>
        <input formControlName="name" matInput type="text" placeholder="Ex. Name">
      </mat-form-field>
    </div>

    <div class="col-3">
      <mat-form-field class="example-full-width">
        <mat-label>Room ID </mat-label>
        <input formControlName="id" matInput type="text" placeholder="R001">
      </mat-form-field>
    </div>

    <div class="col-3">
      <mat-form-field class="example-full-width">
        <mat-label>Time</mat-label>
        <input formControlName="time" matInput type="text">
      </mat-form-field>
    </div>

    <button [disabled]="saveRegistrationForm.invalid" mat-button mat-raised-button color="primary">
      Save Registration Details
    </button>
  </form>
</div>
