<div class="main">
  <div class="container">
    <div class="context">
      <div class="left-side">
        <div class="button-bar">
          <button class="button" routerLink="/auth/login" routerLinkActive="active">Login</button>
          <button class="button" routerLink="/auth/sign-up" routerLinkActive="active">Sign Up</button>
        </div>
        <div class="outlet-wrap">
          <router-outlet></router-outlet>
        </div>
      </div>
      <div class="right-side">
        <H1>HOTEL RESERVATION MANAGEMENT SYSTEM</H1>
      </div>
    </div>
  </div>
</div>
