<div class="main-wrap">
  <h1 class="header-text">Rooms Management Unit</h1>
  <hr>
  <mat-tab-group>
    <mat-tab label="Save Room Details">
      <app-save-room></app-save-room>
    </mat-tab>
    <mat-tab label="Update Room Details">
      <app-update-room></app-update-room>
    </mat-tab>
    <mat-tab label="Delete Room Details">
      <app-delete-room></app-delete-room>
    </mat-tab>
    <mat-tab label="Search Room Details">
      <app-search-room></app-search-room>
    </mat-tab>
    <mat-tab label="Get All Rooms Details">
      <app-get-all-rooms></app-get-all-rooms>
    </mat-tab>
  </mat-tab-group>

</div>
