<div class="main-wrap">
  <h1 class="header-text">Registrations Management Unit</h1>
  <hr>
  <mat-tab-group>
    <mat-tab label="Save Registration">
      <app-save-registration></app-save-registration>
    </mat-tab>
    <mat-tab label="Update Registration">
      <app-update-registration></app-update-registration>
    </mat-tab>
    <mat-tab label="Delete Registration">
      <app-delete-registration></app-delete-registration>
    </mat-tab>
    <mat-tab label="Search Registrations">
      <app-search-registration></app-search-registration>
    </mat-tab>
    <mat-tab label="Get All Registrations">
      <app-get-all-registrations></app-get-all-registrations>
    </mat-tab>
  </mat-tab-group>

</div>
